	
/* about page */
#about-hero {
	height: 60vh;
	justify-content: start;
	text-align: left;
	background: url(images/about-image.jpg) no-repeat;
	background-size: cover;
	background-position: center 25%;
}

#about-hero-text{
	margin-left: 2rem;
}

#about-hero-text p{
	font-size: 1.75rem;
}

h2 {
    font-size: 2rem;
    color: #264653;
    margin-top: 1.7rem;
    padding: 10px;
}

p:not(#footer) {
    padding: 10px;
    font-size: 1.2rem;
    text-align: justify;
}

dl {
    padding: 10px;
}

dt {
    font-size: 1.3rem;
    font-weight: 600;
    color: #264653; 
    margin-top: 1rem;

}


dd {
    margin-left: 1.2rem;
    padding: 5px 10px;
    font-size: 1.1rem;
    color: #444;
    border-left: 2px solid #E8B168; 
}

/* contact page */

.contact-head h1 {
    color: #264653;
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form{
    width: 80%;
    margin-left: 1rem;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #90d5ff, #ffffff, #cccccc);
}

fieldset {
	padding: 15px;
	margin: 1rem;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #aaaaaa;
	background-color: rgba(0, 0, 0, 0.15);
}


label {
	display: block;
	font-size: 1.2rem;
	font-weight: 650;
}

input{
	box-sizing: border-box;
    border: 1px solid black;
	height: 2rem;
	width: 70%;
	margin-bottom: 10px;
	padding: 2px;
	font-size: 1rem;
}

textarea {
    width: 70%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
}

.button {
	height: 2.2rem;
	border-radius: 10px;
	color: white;
	font-weight: 700;
	font-size: 1rem;
	background-color: #2c5569;
	transition: background 0.3s;
	border: 0px;
	padding: 5px;
	width: 100%;
}

.button:hover {
	background-color: #1b3a4b;
	cursor: pointer;
}



